button-wrapper {
    display: block;
    text-align: center;
  }
  
  button {
    border: none;
    border-radius: 3em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    width: auto;
  }
  
  cta-button {
    background-color: #000;
    color: #fff ;
  }
  
  body{
    position: center;
    background: #00fff2;
    color: white;
  }
  container { 
    height: 200px;
    position: relative;
    border: 3px solid green; 
  }
  
  vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  